@charset "UTF-8";
/* CSS Document */

.collections_list{
	margin:0 0 -25px -175px;
	z-index:999;
	list-style-type: none;
}
.collections_list a:hover{
	text-decoration:none;
	list-style-type: none;
}
.collections_list li.selected a{
	color:#FFF;
	font-weight:700;
	list-style-type: none;
}
.filter{
	font-family:Arial, Arial, sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	text-transform:lowercase;
}
.person_preview header h1{
	color:#FFF;
	font-family:Arial, Arial, sans-serif;
	font-weight:700;
	margin:0;
	padding:2px 0 0 0;
	font-size:14px;
	line-height:16px;
	text-transform:capitalize;
	-webkit-font-smoothing: subpixel-antialiased;}


.people{padding-top:10px;min-height:400px; width:100%;}
.people a:hover{text-decoration:none;}

.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;transition-duration:0.8s}
 .isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;transition-property:height, width}
 .isotope .isotope-item{-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;transition-property:transform, opacity}


article.person_preview{width:165px;height:198px;display:block;overflow:hidden;position:relative;z-index:999}

article.person{width:165px;margin:10px}

article.person_preview header a{width:0;overflow:hidden}

article.selected{width:720px;height:auto;z-index:999}

article.person_preview header{height:100%;float:left;text-align:center;margin:0;width:165px}

article.person_preview header img{width:149px;height:149px;margin:0 8px}


.ie7 article.person_preview header h1, .ie8 article.person_preview header h1{background:none;}

article.person_preview header p{display:none;line-height:15px;width:165px; color:#fabc1d; font-size:14px;}

div.bio{width:675px}

.ie7 div.bio{width:500px}

article.person_preview header h1, article.person_preview header p, div.bio p, div.bio div{background:none;}

.close{clear:both;display:none}

.isotope-hidden{display:none;visibility:hidden}

article.person_preview:hover h1, article.person_preview:hover p, article.selected header h1, article.selected header p{display:block;z-index:999}

article.selected .close{background-image:url(../img/close.png);background-position:top right;cursor:pointer;height:16px;position:absolute;right:1px;top:1px;text-indent: -9999px;width:16px;display:block}

article.selected header{margin-right:30px}


 